WATSONX_API_KEY=SJB14bBqRW23tlgHZICEAKret7UFiJmAPo6e2VChYkJt
WATSONX_PROJECT_ID=8058f48f-cfdd-4a19-92c5-411129393a9d
WATSONX_REGION=us-south
WATSONX_MODEL_ID=ibm/granite-3-8b-instruct
WATSONX_API_VERSION=2025-02-11